@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../image/background2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
}
.title{
    display: flex;
    justify-content:center;
    align-items: center;
}
.form{
    display: flex;
    position: relative;
    transform: scale(1.05);
    border: 3px solid rgb(128,128,128);
    border-radius: 25px;
    padding: 50px 50px;
    background:rgb(255,255,255 / 24%);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    backdrop-filter: blur(15px);
    border:1px solid  rgba(255,255,255,0.18);
}
.form:hover{
    transform: scale(1.15,1.15);
}
.form h1{
    color:#000000;
}
.form a{
    color:#2F4F4F;
}
.form-link:hover ,.form_reg_btn a:hover{
    color:#c4d80d;
}
.form p,.checkbox-content label,.form_text_ipt::placeholder{
    color:rgb(128,128,128);
}
.form_text_ipt{
    position: relative;
    height:50px;
    width: 290px;
    margin-top:30px
}
.form_text_ipt input{
    outline:none;
    border:none;
    position:absolute;
    height:100%;
    width:100%;
    padding:0px 60px;
    font-size: 16px;
    border: transparent;
    border-bottom:2.5px solid #808080 ;
    transition: all 0.2s ease;
    color:#808080;
}
input[type="text"],input[type="password"]{
    background-color: transparent;
}
.form_text_ipt i{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    color:#696969;
    font-size: 23px;
    transition: all 0.2s ease;
    padding-left: 20px;
}
.checkbox-text{
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
.checkbox-text a{
    padding-left: 10px;
}
.form button{
    height: 40px;
    width:200px;
    display:block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    border: none;
    color:#ffffff;
    font-size: 16px;
    font-weight:500;
    letter-spacing: 1px;
    border-radius: 40px;
    background-color: #eca428;
    cursor:pointer;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #eca428;
    transform: scale(1.1,1.1);
}
.form_reg_btn{
    display: flex;
    justify-content:center;
    padding-top: 20px;
}
.form_text_ipt::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:2.5px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}
.form_text_ipt input:focus{
    outline:none;
}
.form_text_ipt input:focus +::before{
    transform-origin: right;
}
.form_text_ipt input:focus +i{
    transform: translateY(-23px);
    transition: transform 0.3s ease-in-out;
}
.box{
    position: relative;
}
.box .square{
    position:absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border:1px,solid,rgba(255,255,255,0.5);
    border-right: 1px,solid,rgba(255,255,255,0.3);
    border-bottom: 1px,solid,rgba(255,255,255,0.3);
    background:rgba(218, 112, 214, 0.2);
    border-radius: 10px;
    animation:animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate{
    0%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
}
.box .square:nth-child(1){
    top:-70px;
    right:-150px;
    width:100px;
    height:100px;
}
.box .square:hover{
    opacity:0;
}
.box .square:nth-child(2){
    top:150px;
    left:-200px;
    width:120px;
    height:120px;
    z-index: 2;
}
.box .square:nth-child(3){
    bottom:50px;
    right:-100px;
    width:50px;
    height:50px;
    z-index: 2;
}
.box .square:nth-child(4){
    bottom:-100px;
    left:100px;
    width:50px;
    height:50px;
}
.box .square:nth-child(5){
    top:-120px;
    left:140px;
    width:60px;
    height:60px;
}
.box .square:nth-child(6){
    bottom:-100px;
    left:-400px;
    width:50px;
    height:50px;
}
.box .square:nth-child(7){
    bottom:-100px;
    right:-350px;
    width:100px;
    height:100px;
}
.box .square:nth-child(8){
    top:-200px;
    right:-350px;
    width:55px;
    height:55px;
}