<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/1a8c6dd550.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/add_book.css">
</head>
<body>
    <div class="content">
        <div class="menu-box">
            <!-- 展示与隐藏侧边栏 开始-->
            <input type="checkbox" id="menu-btn">
            <label for="menu-btn"><i class="iconfont icon-yemianfanhui"></i></label>
            <!-- 展示与隐藏侧边栏 结束-->
            <div class="menu">
                <!-- 侧边栏的标题 开始-->
                <div class="menu-title">
                    <h1>Cognilink</h1>
                </div>
                <!-- 侧边栏的标题 结束-->
                
                <!-- 每一项导航 -->

                <div class="menu-item">
                    <input type="checkbox" id="menu-item1">

                    <label for="menu-item1" onclick="homeToURL()">
                        <i class="fa-solid fa-home"></i>
                        <span>首页</span>
                    </label>
                </div>

                <!-- js实现的页面重定向 -->
                <script>
                    function homeToURL() {
                        window.location.href = "{%url 'home'%}";
                    }
                </script>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item2">
                    <label for="menu-item2" onclick="redirectToURL()">
                        <i class="fa-solid fa-edit"></i>
                        <span>图谱编辑</span>
                    </label>
                </div>
                <!-- js实现的页面重定向 -->
                <script>
                    function redirectToURL() {
                        window.location.href = "{%url 'node_edit'%}";
                    }
                </script>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3"  onclick="roamToURL()">
                        <i class="fa-solid fa-eye"></i>
                        <span>图谱漫游</span>
                    </label>
                </div>
                  <!-- js实现的页面重定向 -->
                <script>
                    function roamToURL() {
                        window.location.href = "{%url 'wander'%}";
                    }
                </script>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3" onclick="addbookToURL()">
                        <i class="fa-solid fa-book"></i>
                        <span>新增图谱</span>
                    </label>
                </div>
                <!-- js实现的页面重定向 -->
                <script>
                    function addbookToURL() {
                        window.location.href = "{%url 'add_book'%}";
                    }
                </script>

                <div class="set-line"></div>
            </div>
        </div>

        <!-- 页面右上角图标 -->
        <div class="tabs">
            <input type="radio" id="home" name="tabsMenu" checked />
            <input type="radio" id="profile" name="tabsMenu" />
            <input type="radio" id="likes" name="tabsMenu" />
            <input type="radio" id="settings" name="tabsMenu" />
            <input type="radio" id="notifications" name="tabsMenu" />

            <div class="buttons">
                <label for="home">
                    <a href="{%url 'home'%}"> <i class="fa-solid fa-house"></i> </a>
                    
                </label>
                <label for="profile"><a href="{%url 'person'%}"><i class="fa-solid fa-user"></i></label>
                <label for="likes"><i class="fa-solid fa-bell"></i></label>
                <label for="settings"><i class="fa-sharp fa-solid fa-gear"></i></label>
                <label for="notifications">
                    
                   <a href="{%url 'login'%}"><i class="fa-solid fa-power-off"></i></a>
                
                </label>
            </div>

          </div>

          <div class="container">
            <input type="text" placeholder="Search...">
            <div class="overlay"></div>

          </div>


          <div class="TUPU">
            <div class="text-part1">
                <label for="menu-item1">
                 <i class="fa-solid  fa-list-ul"></i>
                  <span>图谱笔记</span>
                    </label>
            </div>

            <div class="container1">
                <div class="card">
                </div>
            </div>

            <div class="card1">
                <span style="--i:0"> </span>
                <span style="--i:1"> </span>
                <span style="--i:2"> </span>
                <span style="--i:3"> </span>
            </div>



            <div class="containerlim">
              <form method="POST" action="{% url 'add_book' %}" >
                  {% csrf_token %}
                <div class="container-0">
                  <span id="n0">新增知识图谱 </span>
                </div>

                <div class="container-1">
                    <label for="title1">
                      <p id="n1">图谱名称</p>
                      <input type="text"  id="BookName" name="BookName"  placeholder="请输入内容">
                      <p id="n2">图谱介绍</p>
                      <input type="text"  id="BookIntro"  name="BookIntro"   placeholder="请输入内容">
                      <p id="n3">初始节点名称</p>
                      <input type="text"  id="InitNode"  name="InitNode"   placeholder="请输入内容">
                      <p id="n4">初始节点类型</p>
                      <input type="text"  id="InitNodeType"  name="InitNodeType"   placeholder="请输入内容">
                      <p id="n5">初始节点详情</p>
                      <input type="text"  id="InitNodeDetail"  name="InitNodeDetail"   placeholder="请输入内容">
                    </label>
                    <label for="title2">
                      <button type="submit" id="Save" onclick="saveAndRedirect()">保存</button>
                      <button type="submit" id="Cancel">取消</button>
                    </label>
                </div>



                  <script>
  function saveAndRedirect() {
    // Get the value of InitNodeType input
    var InitNodeTypeValue = document.getElementById("InitNodeType").value;
    var InitNodeValue = document.getElementById("InitNode").value;
    console.log(InitNodeTypeValue)
      console.log(InitNodeValue)
    // Store the values in sessionStorage
    sessionStorage.setItem('InitNodeType', InitNodeTypeValue);
    sessionStorage.setItem('InitNode', InitNodeValue);
    // Construct the redirect URL (modify this based on your actual URL structure)
    var url = 'wander.html';

    // Redirect to the Wander webpage
    window.location.href = url;
  }
</script>

              </form>
            </div>

</body>
</html>