<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> 登录 </title>
        <script src="https://kit.fontawesome.com/1a8c6dd550.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/static/css/style_LOGIN.css">

       <style>
    /* 提醒框样式 */
    .alert {
        padding: 20px;
        background-color: rgba(244, 67, 54, 0.7); /* 使用rgba设置颜色和透明度 */
        color: white;
        display: none;
        position: fixed;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
</style>


	</head>

	<body>
    <div id="alert" class="alert">
        {{ message }}
    </div>
    <script>
    // 显示提醒框
    document.addEventListener('DOMContentLoaded', function () {
        var alertDiv = document.getElementById('alert');
        var message = '{{ message }}'; // 获取 message 变量

        // 根据 message 是否为空来设置显示状态
        if (message) {
            alertDiv.style.display = 'block';

            // 隐藏提醒框（在这里设置了5秒后自动隐藏）
            setTimeout(function () {
                alertDiv.style.display = 'none';
            }, 5000);
        }
    });
</script>

		<div class="wrap login_wrap">
			<div class="content">

				<div class="logo"></div>

                <div class="box">
                    <div class="square" style="--i:0"></div>
                    <div class="square" style="--i:1"></div>
                    <div class="square" style="--i:2"></div>
                    <div class="square" style="--i:3"></div>
                    <div class="square" style="--i:4"></div>
                    <div class="square" style="--i:5"></div>
                    <div class="square" style="--i:6"></div>
                    <div class="square" style="--i:7"></div>
                    <div class="square" style="--i:8"></div>
                    <div class="square" style="--i:9"></div>

				<div class="login_box">

					<div class="form">
						
						<form action="{% url 'login' %}" method="post">
                           {% csrf_token %}
                            <div class="title">
                                <h1>Login</h1>
                            </div>
							<div class="form_text_ipt">
								<input name="username" type="text" placeholder="手机号/邮箱" required/>
								<i class="fa-solid fa-envelope"></i>
							</div>

							<div class="form_text_ipt">
								<input name="password" type="password" placeholder="密码" required/>
								<i class="fa-solid fa-lock"></i>
							</div>
                            <div class="checkbox-text">
                                <div class="checkbox-content">
                                    <input type="checkbox" />
                                    <label for="logCheck">记住密码</label>
                                </div>
                                <a href="#" class="form-link">Forgot password?</a>
                            </div>
							<div class="form_btn">
								<button type="submit">登录</button>
							</div>
							<div class="form_reg_btn">
								<p><span>还没有帐号？</span><a href="{% url 'logon' %}">马上注册</a></p>

							</div>
                            <div class="form_reg_btn">
								<p><a href="{% url 'home' %}">游客登陆</a></p>

							</div>

						</form>
					</div>
				</div>
            </div>
			</div>
		</div>
		<script type="text/javascript" src="/static/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/static/js/common.js" ></script>
	<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
</div>
</body>
</html>