<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 导入阿里的图标样式文件 -->
    <script src="https://kit.fontawesome.com/1a8c6dd550.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="iconfont.css">
    <link rel="stylesheet" href="/static/css/relationship-new.css">
</head>
<body>
    <div class="content">
        <div class="menu-box">
            <!-- 展示与隐藏侧边栏 开始-->
            <input type="checkbox" id="menu-btn">
            <label for="menu-btn"><i class="iconfont icon-yemianfanhui"></i></label>
            <!-- 展示与隐藏侧边栏 结束-->
            <div class="menu">
                <!-- 侧边栏的标题 开始-->
                <div class="menu-title">
                    <h1>Cognilink</h1>
                </div>
                <!-- 侧边栏的标题 结束-->
                <!-- 每一项导航 -->
                <div class="menu-item">
                    <input type="checkbox" id="menu-item1">
                    <label for="menu-item1">
                        <i class="fa-solid fa-home"></i>
                        <span>首页</span>
                    </label>
                </div>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item2">
                    <label for="menu-item2">
                        <i class="fa-solid fa-edit"></i>
                        <span>图谱编辑</span>
                    </label>
                </div>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3">
                        <i class="fa-solid fa-eye"></i>
                        <span>图谱漫游</span>
                    </label>
                </div>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3">
                        <i class="fa-solid fa-book"></i>
                        <span>新增图谱</span>
                    </label>
                </div>

                <div class="set-line"></div>
            </div>
        </div>
        <div class="tabs">
            <input type="radio" id="home" name="tabsMenu" checked />
            <input type="radio" id="profile" name="tabsMenu" />
            <input type="radio" id="likes" name="tabsMenu" />
            <input type="radio" id="settings" name="tabsMenu" />
            <input type="radio" id="notifications" name="tabsMenu" />

             <div class="buttons">
                <label for="home">
                    <a href="{%url 'home'% }"> <i class="fa-solid fa-house"></i> </a>
                    
                </label>
                <label for="profile"><i class="fa-solid fa-user"></i></label>
                <label for="likes"><i class="fa-solid fa-bell"></i></label>
                <label for="settings"><i class="fa-sharp fa-solid fa-gear"></i></label>
                <label for="notifications">
                    
                   <a href="{%url 'login'% }"><i class="fa-solid fa-power-off"></i></a> 
                
                </label>
            </div>

            

          </div>

          <div class="container">

            <input type="text" placeholder="Search...">
            <div class="overlay"></div>
            
          </div>


          <div class="TUPU">
            <div class="text-part1">
                <label for="menu-item1">
                 <i class="fa-solid  fa-list-ul"></i>
                  <span>图谱笔记</span>
                    </label>
            </div>
       
            <div class="container1">
                <form method="POST" action="{% url 'relationship-new' %}" >
                <div class="card">
                </div>
                
            </div>

            <div class="card1">
                <span style="--i:0"> </span>
                <span style="--i:1"> </span>
                <span style="--i:2"> </span>
                <span style="--i:3"> </span>
            </div>



            <div class="containerlim">
                 <form method="POST" action="{% url 'relationship-new' %}" >
                <div class="container-0">
                    <label for="title0">
                         <span id="n0">知识图谱 </span>
                         <i class="fa-solid fa-angle-right"></i>
                         <span id="n1">关系新建</span>
                           </label>
                </div>


                    <div class="container-1">
                        <form method="POST" action="{% url 'relationship-new' %}" >
                        <label for="title1">
                            <p id="begin">开始节点</p>
                             <input type="text"  id="StartPoint" name="StartPoint"  placeholder="请输入内容">
                             <p id="end">结束节点</p>
                             <input type="text"  id="EndPoint"  name="EndPoint"   placeholder="请输入内容">

                             

                                <p id="relationship">关系</p>
                                <input type="text" id="Relationship" name="Relationship" placeholder="请输入内容" >
                                
                                <button type="submit" id="SAVEButton">保存</button> <!-- 用于查询节点之间的关系 -->
                                <button type="submit" id="quitButton">取消</button> <!-- 用于查询节点之间的关系 -->
   
                        </label>
                    </div>



                    <div class="container-2-0">
                        <span>图谱展示 </span>
                    </div>


                    <div class="container-2">
                        <form method="POST" action="{% url 'relationship-new' %}" >
                        <label for="title2">

                            <div class="container-2-1">
                                <form method="POST" action="{% url 'relationship-new' %}" >
                            </div>

                            <button type="submit" id="addButton">节点新增</button> <!-- 新增节点 -->
                            <button type="submit" id="addRelation">关系新增</button> <!-- 新增关系 -->
                        </label>
                    </div>



                    <div class="container-3-0">
                        <span>查询节点或关系查看详情</span>
                    </div>


                    
                    <div class="container-3">
                        <form method="POST" action="{% url 'relationship-new' %}" >
                        <label for="title3">
                            <input type="text"    id="NodeName"  name="NodeName"  id="NodeName"  placeholder="输入查询节点或关系">
                            <button type="submit" id="editButton">编辑</button> <!-- 用于编辑节点或关系 -->
                            <button type="submit" id="deleteButton">删除</button> <!-- 用于删除节点或关系 -->
                            <button type="submit" id="studyButton">查看详情</button> <!-- 用于查看节点详情 -->
                        </label>
                    </div>

             </div> 

             


</body>
</html>