<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 导入阿里的图标样式文件 -->
    <script src="/static/js/echarts.js"></script>
    <script src="https://kit.fontawesome.com/1a8c6dd550.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="iconfont.css">
    <link rel="stylesheet" href="/static/css/relationship_new.css">
</head>
<body>
    <div class="content">
        <div class="menu-box">
            <!-- 展示与隐藏侧边栏 开始-->
            <input type="checkbox" id="menu-btn">
            <label for="menu-btn"><i class="iconfont icon-yemianfanhui"></i></label>
            <!-- 展示与隐藏侧边栏 结束-->
            <div class="menu">
                <!-- 侧边栏的标题 开始-->
                <div class="menu-title">
                    <h1>Cognilink</h1>
                </div>
                <!-- 侧边栏的标题 结束-->
                <!-- 每一项导航 -->
                <div class="menu-item">
                    <input type="checkbox" id="menu-item1">
                    <label for="menu-item1" onclick="homeToURL()">
                        <i class="fa-solid fa-home"></i>
                        <span>首页</span>
                    </label>
                </div>

                <script>
                    function homeToURL() {
                        window.location.href = "/system/home/";
                    }
                </script>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item2">
                    <label for="menu-item2" onclick="redirectToURL()">
                        <i class="fa-solid fa-edit"></i>
                        <span>图谱编辑</span>
                    </label>
                </div>

                <script>
                    function redirectToURL() {
                        window.location.href = "/system/detail_edit/";
                    }
                </script>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3"  onclick="roamToURL()">
                        <i class="fa-solid fa-eye"></i>
                        <span>图谱漫游</span>
                    </label>
                </div>

                <script>
                    function roamToURL() {
                        window.location.href = "/system/wander/";
                    }
                </script>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3" onclick="addBook()">
                        <i class="fa-solid fa-book"></i>
                        <span>新增图谱</span>
                    </label>
                </div>

                <script>
                    function addBook() {
                        window.location.href = "/system/add_book/";
                    }
                </script>

                <div class="set-line"></div>
            </div>
        </div>
        <div class="tabs">
            <input type="radio" id="home" name="tabsMenu" checked />
            <input type="radio" id="profile" name="tabsMenu" />
            <input type="radio" id="likes" name="tabsMenu" />
            <input type="radio" id="settings" name="tabsMenu" />
            <input type="radio" id="notifications" name="tabsMenu" />

            <div class="buttons">
                <label for="home">
                    <a href="{%url 'home'%}"> <i class="fa-solid fa-house"></i> </a>

                </label>
                <label for="profile"><a href="{%url 'person'%}"><i class="fa-solid fa-user"></i></label>
                <label for="likes"><i class="fa-solid fa-bell"></i></label>
                <label for="settings"><i class="fa-sharp fa-solid fa-gear"></i></label>
                <label for="notifications">

                   <a href="{%url 'login'%}"><i class="fa-solid fa-power-off"></i></a>

                </label>
            </div>



          </div>

          <div class="container">

            <input type="text" placeholder="Search...">
            <div class="overlay"></div>

          </div>


          <div class="TUPU">
            <div class="text-part1">
                <label for="menu-item1">
                 <i class="fa-solid  fa-list-ul"></i>
                  <span>图谱笔记</span>
                    </label>
            </div>

            <div class="container1">
                <form method="POST" action="{% url 'relationship_new' %}" >
                <div class="card">
                </div>

            </div>

            <div class="card1">
                <span style="--i:0"> </span>
                <span style="--i:1"> </span>
                <span style="--i:2"> </span>
                <span style="--i:3"> </span>
            </div>



            <div class="containerlim">
                <form method="POST" action="{% url 'relationship_new' %}" >
                <div class="panel-body" style="height: 800px; overflow-y:scroll">
                <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                <span>
                <div class="container-0">

                    <label for="title0">
                        <span id="n0">知识图谱编辑 </span>
                        <i class="fa-solid fa-angle-right"></i>
                           <select id="editpoint" name="editpoint"  onchange="location.href=this.options[this.selectedIndex].value;" >
                            <option value="{% url 'node_edit'%}">编辑节点</option>
                            <option value="{% url 'detail_edit'%}">编辑节点详情</option>
                            <option value="{% url 'relationship_edit'%}" >编辑关系</option>
                            <option value="{% url 'node_new'%}">新建节点</option>
                            <option value="{% url 'relationship_new'%}" selected>新建关系</option>
                             </select>
                    </label>
                </div>


                    <div class="container-1">
                        <form method="POST" action="{% url 'relationship_new' %}" >
                            {% csrf_token %}
                        <label for="title1">
                            <p id="begin">开始节点</p>
                             <input type="text"  id="StartPoint" name="StartPoint"  placeholder="请输入内容">
                             <p id="end">结束节点</p>
                             <input type="text"  id="EndPoint"  name="EndPoint"   placeholder="请输入内容">



                                <p id="relationship">关系</p>
                                <input type="text" id="Relationship" name="Relationship" placeholder="请输入内容" >

                                <button type="submit" id="SAVEButton">保存</button> <!-- 用于查询节点之间的关系 -->
                                <button type="submit" id="quitButton">取消</button> <!-- 用于查询节点之间的关系 -->

                        </label>
                        </form>>
                    </div>



                    <div class="container-2-0">
                        <span>图谱展示 </span>
                    </div>


                    <div class="container-2">
                        <form method="POST" action="{% url 'relationship_new' %}" >
                        <label for="title2">

                            <div class="container-2-1">
                                <form method="POST" action="{% url 'relationship_new' %}" >
                                    <div id="echarts-container" style="width: 100%; height: 100%;"></div>
                            </div>


                        </label>
                    </div>
</span>
            </div>
            </div>
             </div>
<script type="text/javascript">
        // 在代码1的脚本中初始化 ECharts 图表
        var myChart = echarts.init(document.getElementById('echarts-container'));
        console.log('wojinlail')
        var neo4j_data = [{{ neo4j_data|safe }}]
        console.log(neo4j_data)
        var data1 = neo4j_data[0]['data']
        var links1 = neo4j_data[0]['links']
        console.log(data1)
        console.log(links1)

        // 以下是代码2中的图表配置和数据
        var categories = [];

    for (var i = 0; i < 2; i++) {
        categories[i] = {
            name: '类目' + i
        };
    }
    option = {

        //提示框的配置
        tooltip: {
    formatter: function (params) {
        var data = params.data;
        return '名称：' + data.name + '<br/>详情：' + data.des;
    }
},
        // 工具箱
        toolbox: {
            // 显示工具箱
            show: true,
            feature: {
                mark: {
                    show: true
                },
                // 还原
                restore: {
                    show: true
                },
                // 保存为图片
                saveAsImage: {
                    show: true
                }
            }
        },
        series: [{
            type: 'graph', // 类型:关系图
            layout: 'force', //图的布局，类型为力导图
            symbolSize: 40, // 调整节点的大小
            roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [2, 10],
            edgeLabel: {
                normal: {
                    textStyle: {
                        fontSize: 40
                    }
                }
            },
            force: {
                repulsion: 2500,
                edgeLength: [10, 50]
            },
            draggable: true,
            lineStyle: {
                normal: {
                    width: 2,
                    color: '#4b565b',
                }
            },
            edgeLabel: {
                normal: {
                    show: true,
                    formatter: function (x) {
                        return x.data.name;
                    }
                }
            },
            label: {
                normal: {
                    show: true,
                    textStyle: {}
                }
            },

            // 数据
            data: data1,
            links: links1,
            categories: categories,
        }]
    };

    myChart.on('dblclick', function (params) {
     if (params.seriesType === 'graph' && params.dataType === 'node') {
        var nodeName = params.data.name;
        var nodedetail = params.data.des;
        // 弹出选择框
        var option = prompt('名称：'+nodeName+'\n详情:' + nodedetail+'\n选项：\n1. 编辑\n2. 删除', '1');

        if (option === '1') {
            // 存储 nodeName 到 sessionStorage
            sessionStorage.setItem('StartPoint', nodeName);

            // 构建跳转的 URL
            var url = '{% url "node_edit" %}';

            // 跳转到 'node_edit' 页面
            window.location.href = url;

        } else if (option === '2') {
            // 处理删除操作
            deleteNode(nodeName);
        }
     }
        else if (params.seriesType === 'graph' && params.dataType === 'edge') {
        var linkName = params.data.name;
        var linkDes = params.data.des;

        var content = linkName + ':' + linkDes + '\n\nOptions:\n1. Edit\n2. Delete';

        // Display alert with options
        var option = prompt(content, '1');

        if (option === '1') {
            editEdge(linkName);
        } else if (option === '2') {
            deleteEdge(linkName);
        }
    }
});

function editNode(nodeName) {
    window.location.href = 'node_edit_page?nodeName=' + nodeName;
}

function deleteNode(nodeName) {
    console.log('Deleting node: ' + nodeName);
}

function editEdge(linkName) {
    window.location.href = 'relationship_edit_page?linkName=' + linkName;
}

function deleteEdge(linkName) {
    console.log('Deleting edge: ' + linkName);
}

    myChart.setOption(option);

    </script>

    <script>
        function closeDialog(dialogId) {
            // 隐藏对应的对话框
            document.getElementById(dialogId).style.display = 'none';
        }
    </script>

    <script>
        function openDialog(dialogId) {
            // 隐藏对应的对话
            document.getElementById(dialogId).style.display = 'block';
        }
    </script>

</div>



</body>
</html>