<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surfing</title>
    <script src="https://kit.fontawesome.com/1a8c6dd550.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/wander.css">
    <script src="/static/js/echarts.js"></script>

</head>

<body>

    <div class="content">
        <div class="menu-box">
            <input type="checkbox" id="menu-btn">
            <label for="menu-btn"><i class="iconfont icon-yemianfanhui"></i></label>
            <div class="menu">
                <div class="menu-title">
                    <h1>Cognilink</h1>
                </div>
                <div class="menu-item">
                    <input type="checkbox" id="menu-item1">
                    <label for="menu-item1" onclick="homeToURL()">
                        <i class="fa-solid fa-home"></i>
                        <span>首页</span>
                    </label>
                </div>

                <script>
                    function homeToURL() {
                        window.location.href = "{%url 'home'%}";
                    }
                </script>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item2">
                    <label for="menu-item2" onclick="redirectToURL()">
                        <i class="fa-solid fa-edit"></i>
                        <span>图谱编辑</span>
                    </label>
                </div>
                <div id="loginReminder" style="display: none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); background-color: rgba(244, 67, 54, 0.7); color: white; padding: 10px; border-radius: 5px;">
    请先登录
</div>
                <!-- js实现的页面重定向 -->
                <script>
                    function redirectToURL()
                    {
                        if (username !== 'None') {window.location.href = "{%url 'node_edit'%}";}
                        else {document.getElementById('loginReminder').style.display = 'block';

            // 3秒后隐藏提示框
            setTimeout(function() {
                document.getElementById('loginReminder').style.display = 'none';
            }, 3000);
        }
                    }
                </script>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3"  onclick="roamToURL()">
                        <i class="fa-solid fa-eye"></i>
                        <span>图谱漫游</span>
                    </label>
                </div>
                  <!-- js实现的页面重定向 -->
                <script>
                    function roamToURL() {
                        window.location.href = "{%url 'wander'%}";
                    }
                </script>

                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3" onclick="addbookToURL()">
                        <i class="fa-solid fa-book"></i>
                        <span>新增图谱</span>
                    </label>
                </div>
                <!-- js实现的页面重定向 -->
                <script>
                    function redirectToURL() {
                        if (username !== 'None') {
            // 如果用户名不为空，则跳转到 relationship_new 页面
            window.location.href = "{%url 'add_book'%}";
        } else {
            // 如果用户名为空，则执行其他逻辑，例如显示登录提示
            alert('请先登录');
            // 或者重定向到登录页面

        }
                    }
                </script>

                <div class="set-line"></div>
            </div>
        </div>
        <div class="tabs">
            <input type="radio" id="home" name="tabsMenu" checked />
            <input type="radio" id="profile" name="tabsMenu" />
            <input type="radio" id="likes" name="tabsMenu" />
            <input type="radio" id="settings" name="tabsMenu" />
            <input type="radio" id="notifications" name="tabsMenu" />
            <div class="buttons">
                <span id="greeting">
    {% if username %}
        你好, {{ username }}
    {% else %}
        <a href="{% url 'login' %}">登录</a>
    {% endif %}
</span>
                <label for="home">
                    <a href="{%url 'home'%}"> <i class="fa-solid fa-house"></i> </a>

                </label>
                <label for="profile"><a href="{%url 'person'%}"><i class="fa-solid fa-user"></i></label>
                <label for="likes"><i class="fa-solid fa-bell"></i></label>
                <label for="settings"><i class="fa-sharp fa-solid fa-gear"></i></label>
                <label for="notifications" id="logout-label">
    <a href="#" id="logout-link"><i class="fa-solid fa-power-off"></i></a>
</label>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var logoutLink = document.getElementById('logout-link');

    if (logoutLink) {
        logoutLink.addEventListener('click', function (event) {
            event.preventDefault();

            // 清空本地存储（localStorage 或 sessionStorage）
            localStorage.clear();
            sessionStorage.clear();

            // 这里可以添加其他操作，例如重定向到登录页面
            window.location.href = '{% url "login" %}';
        });
    }
});
</script>
            </div>
        </div>
<form method="POST" action="{% url 'wander' %}">
        <div class="container">
  <input type="text" id="subjectInput" name="subjectInput" placeholder="请选择学科">
  <div class="overlay"></div>
</div>

<script>
  // 从sessionStorage中获取InitNodeType的值
  var initNodeType = sessionStorage.getItem('InitNodeType');
  console.log(initNodeType);

  // 设置subjectInput元素的值
  var subjectInput = document.getElementById('subjectInput');
  subjectInput.value = initNodeType;

  // 添加事件监听器，当输入框的值改变时更新sessionStorage
  subjectInput.addEventListener('input', function() {
    var newValue = subjectInput.value;
    sessionStorage.setItem('InitNodeType', newValue);
  });

</script>
        <div class="TUPU">
            <div class="text-part1">
                <label for="menu-item1">
                    <i class="fa-solid  fa-list-ul"></i>
                    <span>图谱笔记</span>
                </label>
            </div>
            <div class="container1">
                <form method="POST" action="{% url 'wander' %}">
                    <div class="card"></div>
                </form>
            </div>
            <div class="card1">
                <span style="--i:0"> </span>
                <span style="--i:1"> </span>
                <span style="--i:2"> </span>
                <span style="--i:3"> </span>
            </div>

            <div class="containerlim">
                <div class="panel-body" style="height: 800px; overflow-y:scroll">
                <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                <span>



                    <div class="container-0">
                        <label for="title0">
                            <span id="n0">知识图谱查询 </span>
                            <i class="fa-solid fa-angle-right"></i>
                            <span id="n1">图谱漫游</span>
                        </label>
                    </div>

                    <div class="container-1">

                            {% csrf_token %}
                            <label for="title1">
                                <p id="begin">开始节点</p>
                                <input type="text" id="StartPoint" name="StartPoint" placeholder="请输入内容">
                                <p id="end">结束节点</p>
                                <input type="text" id="EndPoint" name="EndPoint" placeholder="请输入内容">
                                <button type="submit" id="searchButton" name="searchButton">查询</button>
                            </label>

                    </div>
</form>
                    <div class="container-2-0">
                        <span>图谱展示 </span>
                    </div>

                    <div class="container-2">
                        <form method="POST" action="{% url 'wander' %}">
                            {% csrf_token %}
                            <label for="title2">
                                <div class="container-2-1">
                                    <div id="echarts-container" style="width: 100%; height: 100%;"></div>
                                </div>
                                <button type="button" id="addButton" onclick="redirectToNodeNew()">节点新增</button>
<button type="button" id="addRelation" onclick="redirectToRelationshipNew()">关系新增</button>

<script>
    function redirectToNodeNew() {
        // 检查用户名是否为空
        var username = '{{ username }}'; // 获取用户名变量
        console.log(username)
        if (username !== 'None') {
            // 如果用户名不为空，则跳转到 node_new 页面
            window.location.href = "{% url 'node_new' %}";
        } else {
            // 如果用户名为空，则执行其他逻辑，例如显示登录提示
            alert('请先登录');
            // 或者重定向到登录页面

        }
    }

    function redirectToRelationshipNew() {
        // 检查用户名是否为空
        var username = '{{ username }}'; // 获取用户名变量
        if (username !== 'None') {
            // 如果用户名不为空，则跳转到 relationship_new 页面
            window.location.href = "{% url 'relationship_new' %}";
        } else {
            // 如果用户名为空，则执行其他逻辑，例如显示登录提示
            alert('请先登录');
            // 或者重定向到登录页面

        }
    }
</script>
                            </label>
                        </form>
                    </div>

                    <div class="container-3-0">
                        <span>查询节点或关系查看详情</span>
                    </div>

                    <div class="container-3">
                        <form method="POST" action="{% url 'wander' %}">
                            {% csrf_token %}
                            <label for="title3">
                                <input type="text" id="NodeName" name="NodeName"  placeholder="输入查询节点或关系">
                                <button type="submit" id="editButton" onclick="editNode(event)">编辑</button>
                                <button type="submit" id="deleteButton" name="delete">删除</button>

                            </label>
                        </form>
                    </div>

                </form>
                </span>
            </div>
            </div>
            </div>



    <div class="dialog" id="dialog1" style="display: none;">
        <div class="dialogContent"></div>
        <div class="dialogBtn">
            <form method="POST" action="{% url 'wander' %}">
                {% csrf_token %}
                <button type="submit" id="editButton" onclick="editNode(event)">编辑</button>
                <button type="button" onclick="deleteNode(event)">删除</button>

                <button type="button" onclick="closeDialog('dialog1')">取消</button>
            </form>
        </div>
    </div>


    <div class="dialog" id="dialog3" style="display: none;">
        <div class="dialogContent">
            <p>
                是否确定删除？
            </p>
        </div>
        <div class="dialogBtn">
            <form method="POST" action="{% url 'wander' %}">
                {% csrf_token %}
                <button type="submit" id="deleteButton" name="delete2" onclick="deleteNode(event)">确定</button>
                <button type="button" onclick="closeDialog('dialog3')">取消</button>
            </form>
        </div>
    </div>


    <script type="text/javascript">
        // 在代码1的脚本中初始化 ECharts 图表
        var myChart = echarts.init(document.getElementById('echarts-container'));
        console.log('wojinlail')
        var neo4j_data = [{{ neo4j_data|safe }}]
        console.log(neo4j_data)
        var data1 = neo4j_data[0]['data']
        var links1 = neo4j_data[0]['links']
        console.log(data1)
        console.log(links1)

        // 以下是代码2中的图表配置和数据
        var categories = [];

    for (var i = 0; i < 2; i++) {
        categories[i] = {
            name: '类目' + i
        };
    }
    option = {

        //提示框的配置
        tooltip: {
    formatter: function (params) {
        var data = params.data;
        return '名称：' + data.name + '<br/>详情：' + data.des;
    }
},
        // 工具箱
        toolbox: {
            // 显示工具箱
            show: true,
            feature: {
                mark: {
                    show: true
                },
                // 还原
                restore: {
                    show: true
                },
                // 保存为图片
                saveAsImage: {
                    show: true
                }
            }
        },
        series: [{
            type: 'graph', // 类型:关系图
            layout: 'force', //图的布局，类型为力导图
            symbolSize: 40, // 调整节点的大小
            roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [2, 10],
            edgeLabel: {
                normal: {
                    textStyle: {
                        fontSize: 20
                    }
                }
            },
            force: {
                repulsion: 2500,
                edgeLength: [10, 50]
            },
            draggable: true,
            lineStyle: {
                normal: {
                    width: 2,
                    color: '#4b565b',
                }
            },
            edgeLabel: {
                normal: {
                    show: true,
                    formatter: function (x) {
                        return x.data.name;
                    }
                }
            },
            label: {
                normal: {
                    show: true,
                    textStyle: {}
                }
            },

            // 数据
            data: data1,
            links: links1,
            categories: categories,
        }]
    };
    </script>
<script>
    var nodeName
    myChart.on('click', function (params) {
        if (params.seriesType === 'graph' && params.dataType === 'node')
        {
            // 获取节点的名称和描述
            nodeName = params.data.name;
            var nodeDes = params.data.des;

            // 获取对话框内容的容器
            var contentContainer = document.getElementById('dialog1').querySelector('.dialogContent');
            contentContainer.innerHTML = '名称:'+nodeName+'\n详情:'+nodeDes;

            // 在这里添加你的右击响应逻辑，可以是弹出菜单、展示信息等
            sessionStorage.setItem('deletePoint', nodeName);

        // 获取输入框元素
        var nodeNameInput = document.getElementById('NodeName');

        // 将nodeName填充到输入框中
        if (nodeNameInput) {
            nodeNameInput.value = nodeName;
        }

        console.log(nodeName);
        }
        // 判断是否右击在边上

    });

    function deleteNode(event) {
    event.preventDefault();
    if (nodeName) {
        sessionStorage.setItem('deletePoint', nodeName);

        // 获取输入框元素
        var nodeNameInput = document.getElementById('NodeName');

        // 将nodeName填充到输入框中
        if (nodeNameInput) {
            nodeNameInput.value = nodeName;
        }

        console.log(nodeName);
    }
    closeDialog('dialog1');
}

    function editNode(event) {
        event.preventDefault();
        var username = '{{ username }}'; // 获取用户名变量
        console.log(username)
        if (username !== 'None') {
            if (nodeName) {
            // Set the nodeName in sessionStorage
            sessionStorage.setItem('StartPoint', nodeName);
            console.log(nodeName)
            // Construct the URL
            var url = '{% url "node_edit" %}';
            console.log(url)
            // Redirect to 'node_edit' page
            window.location.href = url;
            }
        } else {
            // 如果用户名为空，则执行其他逻辑，例如显示登录提示
            alert('请先登录');
            // 或者重定向到登录页面

        }

    }
    myChart.setOption(option);

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Check if this cookie string begins with the name we want
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    </script>

    <script>
        function closeDialog(dialogId) {
            // 隐藏对应的对话框
            document.getElementById(dialogId).style.display = 'none';
        }
    </script>

    <script>
        function openDialog(dialogId) {
            // 隐藏对应的对话框
            document.getElementById(dialogId).style.display = 'block';
        }
    </script>

</body>

</html>
