<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surfing</title>
    <script src="https://kit.fontawesome.com/1a8c6dd550.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/wander.css">
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="iconfont.css">
    <link rel="stylesheet" href="wander.css">
</head>

<body>
    <div class="content">
        <div class="menu-box">
            <input type="checkbox" id="menu-btn">
            <label for="menu-btn"><i class="iconfont icon-yemianfanhui"></i></label>
            <div class="menu">
                <div class="menu-title">
                    <h1>Cognilink</h1>
                </div>
                <div class="menu-item">
                    <input type="checkbox" id="menu-item1">
                    <label for="menu-item1">
                        <i class="fa-solid fa-home"></i>
                        <span>首页</span>
                    </label>
                </div>
                <div class="menu-item">
                    <input type="checkbox" id="menu-item2">
                    <label for="menu-item2">
                        <i class="fa-solid fa-edit"></i>
                        <span>图谱编辑</span>
                    </label>
                </div>
                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3">
                        <i class="fa-solid fa-eye"></i>
                        <span>图谱漫游</span>
                    </label>
                </div>
                <div class="menu-item">
                    <input type="checkbox" id="menu-item3">
                    <label for="menu-item3">
                        <i class="fa-solid fa-book"></i>
                        <span>新增图谱</span>
                    </label>
                </div>
                <div class="set-line"></div>
            </div>
        </div>
        <div class="tabs">
            <input type="radio" id="home" name="tabsMenu" checked />
            <input type="radio" id="profile" name="tabsMenu" />
            <input type="radio" id="likes" name="tabsMenu" />
            <input type="radio" id="settings" name="tabsMenu" />
            <input type="radio" id="notifications" name="tabsMenu" />
            <div class="buttons">
                <label for="home">
                    <a href="{% url 'home' %}"> <i class="fa-solid fa-house"></i> </a>
                </label>
                <label for="profile"><i class="fa-solid fa-user"></i></label>
                <label for="likes"><i class="fa-solid fa-bell"></i></label>
                <label for="settings"><i class="fa-sharp fa-solid fa-gear"></i></label>
                <label for="notifications">
                    <a href="{% url 'login' %}"><i class="fa-solid fa-power-off"></i></a>
                </label>
            </div>
        </div>
        <div class="container">
            <input type="text" placeholder="Search...">
            <div class="overlay"></div>
        </div>
        <div class="TUPU">
            <div class="text-part1">
                <label for="menu-item1">
                    <i class="fa-solid  fa-list-ul"></i>
                    <span>图谱笔记</span>
                </label>
            </div>
            <div class="container1">
                <form method="POST" action="{% url 'wander' %}">
                    <div class="card"></div>
                </form>
            </div>
            <div class="card1">
                <span style="--i:0"> </span>
                <span style="--i:1"> </span>
                <span style="--i:2"> </span>
                <span style="--i:3"> </span>
            </div>
            <div class="containerlim">
                <form method="POST" action="{% url 'wander' %}">
                    <div class="container-0">
                        <label for="title0">
                            <span id="n0">知识图谱查询 </span>
                            <i class="fa-solid fa-angle-right"></i>
                            <span id="n1">图谱漫游</span>
                        </label>
                    </div>
                    <div class="container-1">
                        <form method="POST" action="{% url 'wander' %}">
                            <label for="title1">
                                <p id="begin">开始节点</p>
                                <input type="text" id="StartPoint" name="StartPoint" placeholder="请输入内容">
                                <p id="end">结束节点</p>
                                <input type="text" id="EndPoint" name="EndPoint" placeholder="请输入内容">
                                <button type="submit" id="searchButton">查询</button>
                            </label>
                        </form>
                    </div>
                    <div class="container-2-0">
                        <span>图谱展示 </span>
                    </div>
                    <div class="container-2">
                        <form method="POST" action="{% url 'wander' %}">
                            <label for="title2">
                                <div class="container-2-1">
                                    <div id="echarts-container" style="width: 100%; height: 100%;"></div>
                                </div>
                                <button type="submit" id="addButton">节点新增</button>
                                <button type="submit" id="addRelation">关系新增</button>
                            </label>
                        </form>
                    </div>
                    <div class="container-3-0">
                        <span>查询节点或关系查看详情</span>
                    </div>
                    <div class="container-3">
                        <form method="POST" action="{% url 'wander' %}">
                            <label for="title3">
                                <input type="text" id="NodeName" name="NodeName" id="NodeName" placeholder="输入查询节点或关系">
                                <button type="submit" id="editButton">编辑</button>
                                <button type="submit" id="deleteButton">删除</button>
                                <button type="submit" id="studyButton">查看详情</button>
                            </label>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // 在代码1的脚本中初始化 ECharts 图表
        var myChart = echarts.init(document.getElementById('echarts-container'));

        // 以下是代码2中的图表配置和数据
        var categories = [];
        
    for (var i = 0; i < 2; i++) {
        categories[i] = {
            name: '类目' + i
        };
    }
    option = {
        // 图的标题
        title: {
            text: 'ECharts 关系图'
        },
        // 提示框的配置
        tooltip: {
            formatter: function (x) {
                return x.data.des;
            }
        },
        // 工具箱
        toolbox: {
            // 显示工具箱
            show: true,
            feature: {
                mark: {
                    show: true
                },
                // 还原
                restore: {
                    show: true
                },
                // 保存为图片
                saveAsImage: {
                    show: true
                }
            }
        },
        legend: [{
            // selectedMode: 'single',
            data: categories.map(function (a) {
                return a.name;
            })
        }],
        series: [{
            type: 'graph', // 类型:关系图
            layout: 'force', //图的布局，类型为力导图
            symbolSize: 40, // 调整节点的大小
            roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [2, 10],
            edgeLabel: {
                normal: {
                    textStyle: {
                        fontSize: 20
                    }
                }
            },
            force: {
                repulsion: 2500,
                edgeLength: [10, 50]
            },
            draggable: true,
            lineStyle: {
                normal: {
                    width: 2,
                    color: '#4b565b',
                }
            },
            edgeLabel: {
                normal: {
                    show: true,
                    formatter: function (x) {
                        return x.data.name;
                    }
                }
            },
            label: {
                normal: {
                    show: true,
                    textStyle: {}
                }
            },
 
            // 数据
            data: [{
                name: 'node01',
                des: 'nodedes01',
                symbolSize: 70,
                category: 0,
            }, {
                name: 'node02',
                des: 'nodedes02',
                symbolSize: 50,
                category: 1,
            }, {
                name: 'node03',
                des: 'nodedes3',
                symbolSize: 50,
                category: 1,
            }, {
                name: 'node04',
                des: 'nodedes04',
                symbolSize: 50,
                category: 1,
            }, {
                name: 'node05',
                des: 'nodedes05',
                symbolSize: 50,
                category: 1,
            }],
            links: [{
                source: 'node01',
                target: 'node02',
                name: 'link01',
                des: 'link01des'
            }, {
                source: 'node01',
                target: 'node03',
                name: 'link02',
                des: 'link02des'
            }, {
                source: 'node01',
                target: 'node04',
                name: 'link03',
                des: 'link03des'
            }, {
                source: 'node01',
                target: 'node05',
                name: 'link04',
                des: 'link05des'
            }],
            categories: categories,
        }]
    };
    myChart.setOption(option);
    </script>
</body>

</html>
